{% extends "SuperAdminInterfaceBundle::base.html.twig" %}

{% block body %}
    <div>
        Object - <a class="fa fa-plus text-success" href="{{path('superadmin_interface_object_crud')}}"> Create</a> - <a class="fa fa-edit text-warning" href=""> Edit</a> - <a class="fa fa-list" href=""> List</a>
    </div>
{% endblock %}