{% extends "SuperAdminInterfaceBundle::base.html.twig" %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                Object - <a class="fa fa-list text-success" href="{{path('superadmin_interface_object_crud')}}"> List</a>
            </div>
        </div>
    </div>
{% endblock %}