{% extends "SuperAdminInterfaceBundle::base.html.twig" %}

{% block javascripts %}
    {{parent()}}
    {% javascripts
        'assets/js/jquery.min.js'
        'assets/js/angular.min.js'
        'assets/js/angular-resource.min.js'
        'assets/js/angular-route.min.js'
        '@SuperAdminInterfaceBundle/Resources/public/Object/app.js'
        '@SuperAdminInterfaceBundle/Resources/public/Object/controller.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts  %}
{% endblock %}

{% block body %}
    <div ng-app="objectApp">
        <div ng-view></div>
    </div>
{% endblock %}