{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Object list</h2>
                <a class="btn btn-primary" href="#create">Create</a>
                <a class="btn btn-primary" href="{{path('superadmin_interface_default_index')}}">Back</a>
            </div>
        </div>
        {% verbatim %}
            <div ng-show="alert.status" class="alert alert-{{ alert.status}}" ng-bind-html="alert.message"></div>
        {% endverbatim %}
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                    <tr ng-repeat="object in objects">
                        <td ng-bind="object.id"></td>
                        <td ng-bind="object.name"></td>
                        <td>
                            {% verbatim %}
                                <a class="btn btn-primary pull-right" ng-click="generateObject()">&nbspGenerate code</a>
                                <a class="btn btn-danger pull-right" ng-click="deleteObject(object.id)"><i class="fa fa-trash-o">&nbspDelete</i></a>
                                <a href="#edit/{{object.id}}" class="btn btn-primary pull-right"><i class="fa fa-edit">&nbspEdit</i></a>
                            {% endverbatim %}
                        </td>
                    </tr>
                </table>
            </div
        </div>
    </div>
{% endblock %}